CENTRAL_SERVER_URL=http://localhost:8000
EDGE_API_KEY=571bbb6a84f3801c6f0aa62b34fbadcf9854bc81b2b08a6f4197a9699b6ed806

SYNC_INTERVAL_SECONDS=300
FRAME_SKIP=5
DETECTION_THRESHOLD=0.45
ATTENDANCE_COOLDOWN_MINUTES=1
CV_WORKERS=6

YUNET_MODEL_PATH=models/yunet.onnx
SFACE_MODEL_PATH=models/sface.onnx
